<body class="container">
    <nav class="navbar navbar-expand-lg navbar-light navbar-fixed-top" style="background-color: #354ca1;">
        <a class="navbar-brand" href="#">
            <img id="logo" src="http://s2.smu.edu/~aalcantara/picture/LogoLyle.png" alt="SMU Lyle logo"/>
        </a>
        <ul class="navbar-nav ml-auto">

        </ul>
    </nav>
    <br>
    <br>

    <h4 align="center" style="font-family:Helvetica;"> Welcome to the 4-year generator!!!</h4>

    <div id="formContent">
        <br>
        <br>
        <form>
            <input [(ngModel)]="email" type="text" id="email" class="fadeIn second" name="login" placeholder="email" required>
            <br>
            <br>
            <input [(ngModel)]="password" type="text" id="password" class="fadeIn third" name="login" placeholder="password" required>
            <br>
            <br>
            <input type="submit" class="fadeIn fourth" value="Log In" (click)="login()">
        </form>

            <!-- Remind Passowrd -->
        <div id="formFooter">
           <p class="fadeIn second">Forgot Password? <a class="fadeIn third" [routerLink]="['/password']">Click Here</a></p>
           <p class="fadeIn second">Don't have an account?  <a class="fadeIn third" [routerLink]="['/registration']">Sign up!!</a></p>
        </div>
    </div>
</body>
