<body class="container">
    <!-- Browse the components and utilities sections under documentation at http://getbootstrap.com/. There, you will find the modal, tabs, side panel and other features shown in the video. See my pointers in red in the attached screenshots. Please note that my CSS file only contained 5-6 style definitions. The rest was made possible with Bootstrap alone. -->
    <nav class="navbar navbar-expand-lg navbar-light navbar-fixed-top" style="background-color: #354ca1;">
        <a class="navbar-brand" href="#">
            <img id="logo" src="http://s2.smu.edu/~aalcantara/picture/LogoLyle.png" alt="SMU Lyle logo"/>
        </a>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle" style="color: white;" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    My Account
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" (click)="updateProf()">Update Profile</a>
                    <a class="dropdown-item" href="#">Change Password</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Log out</a>
                </div>
            </li>
        </ul>
    </nav>
    <br>
    <div>
        <div class="card float-right" style="width: 16rem;">
            <img class="card-img-top" src="http://s2.smu.edu/~aalcantara/picture/smu.jpg" alt="Card image cap - SMU campus">
            <div class="card-body">
                <h4 class="card-title">Course Catalog</h4>
                <p class="card-text">Click below to view the full undergraduate course catalog.</p>
                <a href="https://www.smu.edu/~/media/Site/catalog/PDF/UGrad/2014/2014_SMU_UGcatalog_LyleSchoolSection.ashx" target="_blank" class="btn btn-block btn-primary">View Catalog</a>
            </div>
        </div>
        <h1 id="title">4-year generator <button type="button" class="btn btn-success float-right button-wrapper" data-toggle="modal" data-target="#ClassModal"> Generator</button></h1>
    </div>

    <ul class="nav navWrapper" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" role="tab" href="#fall2017" style="background-color:#FDF2F2; color: black; margin-right: 1em;">My Dashboard</a>
        </li>
        <li></li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" role="tab" href="#spring2018" style=" color: black; background-color:#FDF2E2;">Saved Plans</a>
        </li>
    </ul>
    <div class="container tab-content" id="Bottom">
        <div class="tab-pane active" id="fall2017" role="tabpanel" style="background-color:#FDF2F2;" *ngIf=!plan>
            <img id='robot' src="http://s2.smu.edu/~aalcantara/picture/robot.png" alt="robot picture" class="center"/>
            <br>
            <h6 id="fallMsg" style="text-align: center; color: rgb(27, 25, 25);">
                You have nothing on your <b>dashboard</b> yet :(
            </h6>
        </div>
        <div class="tab-pane active" id="fall2017" role="tabpanel" style="background-color:#FDF2F2;" *ngIf=plan>
            <div class="row">
                <div class="col-3">
                    <h5 class="year">Year 1</h5>
                    <div id="height" style="background-color: white;">
                        <br>
                        <div id="classes" *ngFor="let class of plan.sem1">
                            {{class}}
                        </div>
                        <br> <br>
                        <div id="classes" *ngFor="let class of plan.sem2">
                            {{class}}
                        </div>
                        <br>
                    </div>
                </div>
                <div class="col-3">
                    <h5 class="year">Year 2</h5>
                    <div id="height" style="background-color: white;">
                        <br>
                        <div id="classes" *ngFor="let class of plan.sem3">
                            {{class}}
                        </div>
                        <br> <br>
                        <div id="classes" *ngFor="let class of plan.sem4">
                            {{class}}
                        </div>
                        <br>
                    </div>
                </div>
                <div class="col-3">
                    <h5 class="year">Year 3</h5>
                    <div id="height" style="background-color: white;">
                        <br>
                        <div id="classes" *ngFor="let class of plan.sem5">
                            {{class}}
                        </div>
                        <br> <br>
                        <div id="classes" *ngFor="let class of plan.sem6">
                            {{class}}
                        </div>
                        <br>
                    </div>
                </div>
                <div class="col-3">
                    <h5 class="year">Year 4</h5>
                    <div id="height" style="background-color: white;">
                        <br>
                        <div id="classes" *ngFor="let class of plan.sem7">
                            {{class}}
                        </div>
                        <br> <br>
                        <div id="classes" *ngFor="let class of plan.sem8">
                            {{class}}
                        </div>
                        <br>
                    </div>
                </div>
            </div>
            <br>
            <button class="saveBtn btn btn-lg" type="button" style="background-color: purple; color: white;" (click)="savePlan()">Save!</button>
        </div>
        <div class="tab-pane" id="spring2018" role="tabpanel" style="background-color:#FDF2E2;" *ngIf=!planList>
            <img id='robot' src="http://s2.smu.edu/~aalcantara/picture/robot.png" alt="robot picture" class="center"/>
            <br>
            <h6 id="fallMsg" style="text-align: center; color: rgb(27, 25, 25);">
                You do not have any <b>previously saved</b> 4-year plans.
            </h6>
        </div>
        <div class="tab-pane" id="spring2018" role="tabpanel" style="background-color:#FDF2E2;" *ngIf=planList>
            <div *ngFor="let plan of planList" class="row">
                <div class="col-6">
                    <h4 style="text-decoration: underline; font-family: Helvetica; text-align: center;">Plans</h4>
                    <h5 style="font-family: Helvetica; text-align: center; color: plum;"><a href="">{{plan.name}}</a></h5>
                </div>
                <div class="col-6">
                    <h4 style="text-decoration: underline; font-family: Helvetica; text-align: center;">Generated on</h4>
                    <h5 style="font-family: Helvetica; text-align: center; color: gray;">{{plan.date | date:'longDate'}}</h5>
                </div>
            </div>
        </div>
        <br>
    </div>
    <div class="ClassModal">
            <div class="modal fade" id="ClassModal" tabindex="-1" role="dialog" aria-labelledby="joinModal" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="ClassModal">Classes Taken</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body" id="ClassModal">
                            <h6>Please select the AP classes that you have gotten credits for</h6>
                            <div class="form-group">
                                <label for="Classes"></label>
                                <select id="Classes"
                                        class="form-control"
                                        multiple
                                        (click)="changed($event)">
                                    <option
                                    *ngFor="let option of options"
                                    [value]='option.code'>
                                     {{ option.name }}
                                    </option> 
                                </select>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn" style="background-color: #a7c1e0a2;"  data-dismiss="modal">Cancel</button>
                            <button type="button" class="btn" style="background-color: #e5d4ee;" data-dismiss="modal" (click)="save()">Generate</button>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
</body>
