<style>
    body {
        margin: auto;
    }
</style>
<body class="container">
    <nav class="navbar navbar-expand-lg navbar-light navbar-fixed-top" style="background-color: #354ca1;">
        <a class="navbar-brand" href="#">
            <img id="logo" src="http://s2.smu.edu/~aalcantara/picture/LogoLyle.png" alt="SMU Lyle logo"/>
        </a>
    </nav>
    <div id="backpic" class="bgimg-1" style="background-image: url('http://s2.smu.edu/~aalcantara/picture/smu_dh.jpg');">
        <br> <br> <br> <br> <br> <br>
        <div id="topfeed">
            <h1 class="question">Do you know what your class schedule looks like for the next 4 years?</h1>
            <h4 class="question2">do you want to generate different versions of a 4-year plan?</h4>
            <h5 class="sentence">if so...</h5>
            <br>
            <button id="signup" class="btn btn-success btn-lg" [routerLink]="['/registration']">Sign up here</button>
            <button id="login" class="btn btn-danger btn-lg" [routerLink]="['/login']">Login</button>
            <br> <br> <br> <br> <br> <br> <br> <br> <p></p><br>
            <h5 class="closing">you won't regret it!! Generate away ~</h5>
        </div>
    </div>

</body>

